/*#region Navbar styling*/
@font-face {
  font-family: "Hug Me Tight";
  src: url("/res/Fonts//Hug Me Tight .ttf");
  font-family: "Social";
  src: url("/res/Fonts/SOCIAL FONT.ttf");
}
.Header {
  position: absolute;
  color: #fafad2;
  background: radial-gradient(circle at top, #1383fb, #191dd6);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 1;
  max-width: 1000px;
  min-width: 450px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-out;
}

.Header:hover {
  color: #f5f5f5;
}

.logo_png {
  padding-top: 30px;
  border-radius: 100%;
  width: 45px;
}

.Titel {
  font-size: 20px;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titeldiv {
  display: inline-block;
}

.logo {
  margin: 0;
  display: inline-block;
}

.description {
  display: block;
}

.Icon_social {
  margin-right: 20px;
  top: 0%;
  width: 50px;
}

.Navbar {
  display: inline-block;
}

.Navbar_ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.Navbar_item {
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  transition: all 300ms ease-in;
}
.Navbar_item:hover {
  border-radius: 20%;
  background-color: rgba(180, 180, 180, 0.745);
  color: black;
}

/*#endregion Navbar styling*/
/*#region Table styling*/
.Articel_Table {
  margin-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.Articel_Table_Header {
  text-align: left;
  padding: 10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.311);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Articel_Table_data {
  text-align: left;
  padding: 10px;
  background: rgba(12, 12, 12, 0.563);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
}

/*#endregion Navbar styling*/
.img_icon {
  width: 40px;
  border-radius: 50%;
}

/*#region profile*/
.profile {
  margin-top: 100px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
  justify-content: space-between;
  row-gap: 4px;
  align-items: center;
  left: 50%;
  top: 5%;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.3529411765), rgba(0, 0, 0, 0.3529411765), rgba(110, 12, 12, 0.3450980392), rgba(110, 12, 12, 0.3450980392));
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease-in infinite;
          animation: gradient 15s ease-in infinite;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.266);
  transition: all ease-in 800ms;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile_img {
  grid-row-start: 1;
  grid-column-start: 1;
  border: rgba(108, 108, 108, 0.3882352941) solid 2px;
  grid-row-end: 4;
  grid-column-end: 4;
  border-radius: 50%;
  width: 400px;
}

.profile_name {
  transition: all ease-in 500ms;
  font-family: "Hug Me Tight";
  font-size: 70px;
  word-spacing: 5px;
  letter-spacing: 2px;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 12;
}

.profile_paragraphe {
  margin-left: 10px;
  grid-row-start: 1;
  grid-column-start: 4;
  line-height: 1.5;
  grid-row-end: 4;
  grid-column-end: 12;
}

.profile_icon {
  padding: 0px 60px 0px 60px;
  width: 60px;
}

/*#region profile icons*/
.profile_icons {
  grid-column-start: 4;
  grid-row-start: 3;
  display: flex;
}

.insta {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.telegram {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.github {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.linkedin {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.p_iconText1 {
  text-align: center;
}

/*#endregion profile icons*/
/*#endregion profile*/
/*#endregion Image slider*/
/*#region Image slider*/
/*#endregion Image slider*//*# sourceMappingURL=components.css.map */