---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
 

<nav >
     
    <ul>
      <li><a class={currentPath === "" ? "active" : ""}  href="/">About</a></li>
      <li><a class={currentPath === "skills" ? "active" : ""} href="/skills">Skills</a></li>
      <li><a class={currentPath === "projects" ? "active" : ""} href="/projects">Projects</a></li>
      <li><a class={currentPath === "contact" ? "active" : ""} href="/contact">Contact</a></li>
      <li><a class={currentPath === "blogs" ? "active" : ""} href="/blogs">Blogs</a></li>
    </ul>
  </nav>