---

export interface Props {
	value: number;
	 
}
const { value  } = Astro.props;
let color;
  if (value < 50) {
    color = "medium";
  } else if (value < 30) {
    color = "bad";
  } else {
    color = "good";
  }


---
 

<div>
    <div class="w-full  bg-gray-200 rounded-full h-4 dark:bg-gray-700">
      <div
        id="prog"
        class={
          color + " -600 h-3.5 rounded-full w-45 innerprogressbar text-1xl h-4 shadow-xl shadow-inherit "
         
        }
       style={{width:value+'%'}}
      ></div>
    </div>
  </div>