---
import Layout from "../layouts/Layout.astro";
import OnionWebd from "../components/projects/onionWeb.mdx"
import ProjectSwiper from "../components/projectSwiper"
import { WebProjects,DesktopProjects } from "../Data/Projects";


/*

 <div class="projects--container">
        <div class="flex m-auto gap-5 items-center">
         <img src="/assets/logos/bot.svg" alt="" width="100px">
         <h1 class="lg:text-5xl text-4xl text-center mb-5 mt-5">Bots</h1>
        </div>
         <ProjectSwiper data={DesktopProjects} client:load/>
     </div>

*/
---

 

<Layout title="Project's">
   
    <div class="projects--container">
        <div class="flex m-auto gap-5 items-center">
            <img src="/assets/logos/Webapp.svg" alt="" width="100px">
            <h1 class="lg:text-5xl text-4xl text-center mb-5 mt-5">Web applications</h1>
           </div>
           <div class="project--warrper">

               <ProjectSwiper data={WebProjects} client:load/>
           </div>
    </div>


    <div class="projects--container">
        <div class="flex m-auto gap-5 items-center">
         <img src="/assets/logos/desktop.svg" alt="" width="100px">
         <h1 class="lg:text-5xl text-4xl text-center mb-5 mt-5">Desktop applications</h1>
        </div>
         <ProjectSwiper data={DesktopProjects} client:load/>
     </div>

    
   
</Layout>

